header {
  margin: 10px 100px 0px 100px;
}

footer {
  color: rgb(0, 0, 0);
}

#logo {
  width: 300px;
}

#encabezado {
  font-family: "Roboto", sans-serif;
  font-size: large;
  font-weight: 600;
  color: rgb(0, 87, 184);
}

#encabezado-secundario {
  font-family: "Nunito", sans-serif;
  font-size: medium;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

#formularios {
  font-family: "Nunito", sans-serif;
  font-size: medium;
  font-weight: 300;
  text-align: justify;
  margin-left: 100px;
}
#formularios #fechas {
  display: flex;
}

#textos {
  font-family: "Nunito", sans-serif;
  font-size: medium;
  font-weight: 300;
  color: rgb(0, 0, 0);
  text-align: justify;
}

#title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 900;
  font-style: normal;
  color: rgb(0, 87, 184);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  text-justify: center;
}

#home {
  background-image: url(../../img/Fondoim.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#automotor {
  background-image: url(../../img/backauto.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#moto {
  background-image: url(../img/backmoto.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#hogar {
  background-image: url(../img/backhogar.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#flotas {
  background-image: url(../img/backflotas.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#caucion {
  background-image: url(../img/backcaucion.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#agricola {
  background-image: url(../img/backagricola.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.servicios {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.servicios .seguros-a {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.servicios .seguros-a .card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.servicios .seguros-a .card:hover {
  filter: blur(5px);
}
.servicios .seguros-b {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.servicios .seguros-b .card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
.servicios .seguros-b .card:hover {
  filter: blur(5px);
}

.cotizaciones {
  display: inline-block;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 7px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px black;
}
.cotizaciones .titulo {
  font-family: "Roboto";
  color: rgb(0, 87, 184);
}
.cotizaciones p {
  font-family: "Nunito";
  font-size: large;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.cotizaciones h4 {
  font-family: "Nunito";
  font-size: large;
  font-weight: 900;
  color: rgb(0, 0, 0);
}
.cotizaciones h6 {
  font-family: "Nunito";
  font-size: small;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

/*# sourceMappingURL=styles.css.map */
