header {
  margin: 10px 100px 0px 100px;
}

footer {
  color: rgb(0, 0, 0);
}

#logo {
  width: 300px;
}

#encabezado {
  font-family: "Roboto", sans-serif;
  font-size: large;
  font-weight: 600;
  color: rgb(0, 87, 184);
}

#encabezado-secundario {
  font-family: "Nunito", sans-serif;
  font-size: medium;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

#formularios {
  font-family: "Nunito", sans-serif;
  font-size: medium;
  font-weight: 300;
  text-align: justify;
  margin-left: 100px;
}
#formularios #fechas {
  display: flex;
}

#textos {
  font-family: "Nunito", sans-serif;
  font-size: medium;
  font-weight: 300;
  color: rgb(0, 0, 0);
  text-align: justify;
}

#title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 900;
  font-style: normal;
  color: rgb(0, 87, 184);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  text-justify: center;
}

.index {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.index .imagesIndex {
  border: auto;
  flex-wrap: nowrap;
  margin-top: 200px;
  width: 100%;
}

.pageSeguros {
  padding: 20px;
  font-family: sans-serif;
  background: #f2f2f2;
}
.pageSeguros img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}
.pageSeguros h1 {
  margin-bottom: 0.5em;
}

.containerSeguros {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.seguros-listing {
  position: relative;
  box-shadow: 17px 3px 30px -9px rgb(0, 0, 0);
}

.seguros-image {
  line-height: 0;
  overflow: hidden;
}

.seguros-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.seguros-title {
  font-family: "Roboto";
  font-size: x-large;
  font-weight: 500;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
  background: rgba(0, 156, 189, 0.3);
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seguros-listing:hover .seguros-title {
  opacity: 1;
}

.seguros-listing:hover .seguros-image img {
  filter: blur(2px);
}

@media (hover: none) {
  .seguros-title {
    opacity: 1;
  }
  .seguros-image img {
    filter: blur(2px);
  }
}
.cotizaciones {
  display: inline-block;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 7px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px black;
}
.cotizaciones h1 {
  font-family: "Roboto";
  color: rgb(0, 87, 184);
}
.cotizaciones p {
  font-family: "Nunito";
  font-size: large;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.cotizaciones h4 {
  font-family: "Nunito";
  font-size: large;
  font-weight: 900;
  color: rgb(0, 0, 0);
}
.cotizaciones h6 {
  font-family: "Nunito";
  font-size: small;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.refas {
  padding: 30px;
  border: 1px solid grey;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 50px;
  text-align: start;
  box-shadow: 1px 1px black;
}

/*# sourceMappingURL=styles.css.map */
